
/* Logo */
img{
  width: 50px;
}
h7{ 
  width: 80%;
  margin: auto;
  color: white;
  display: block;
  text-align: left;
  font-size: 4rem;
  padding-top: 1.25rem;
  font-family: 'Teko', sans-serif;
}
.message-brd{
  text-align: left;
  width: 80%;
  margin: auto;
  margin-top: 9rem;
}
.landing-container{
  background-image: url(./images/pexels-andrea-piacquadio-3799115.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.landing-login-btn{
  margin-left: 400px;

}
.get-started-btn{
  font-size: 28px;
  color: white;
  background-color: rgb(117, 183, 50);
  padding: 1rem 0rem;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  text-align: center;
  width: 18rem;
  margin-top: 1.5rem;
  border: 2px solid green;
}

.get-started-btn:hover{
  text-decoration: none;
  color: white;
  border: 2px solid white;
  background-color: rgb(83, 135, 30);
}
h6{
  color: rgb(232, 232, 232);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
/* Login Page */
.login-container , .register-container{
 text-align: center;
 margin-top: 4rem;
}

/* Login Labels */
.label{
  padding-left: 5%;
  display: block;
  text-align: left;
  font-size: 16px;
}

/* Login Inputs */
.inputs{
  width: 90%;
  padding: 5px;
  border-radius: 10px;
  border: none;
  margin-bottom: 1rem;
  font-size: 16px;
  letter-spacing: .1rem;
}
.inputs:focus{
  background-color: rgba(245, 224, 85, 0.779);
  outline: none;
}
/* Login Form */
.login-form{
  background-color: rgba(172, 172, 255, 0.471);
  width: 50%;
  margin: auto;
  border-radius: 10px;
  padding: 1rem 0rem;
}

/* Sign In Button */
.sign-in-btn{
background-color:  #28b463 ;
color: white;
border: none;
border-radius: 10px;
width: 90%;
padding: 1rem 0rem;
font-size: 18px;
}
.home-login-btn{
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 2px solid white;
  position: absolute;
  right: 4rem;
  top: 1.5rem;
  background-color: darkgrey;
}

.sign-in-btn:hover{
  background-color: #009e42;
  transition: ease .3s;
}
/* New User link to Register */
.new-user{
  background-color: rgba(172, 172, 255, 0.471);
  width: 50%;
  margin: auto;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 1rem 0rem;
  font-size: 16px;
}
h4{
  color: white;
  margin: 0px;
  padding: 1rem 0rem;
  font-size: 1.5rem;
  text-align: left;
}

/* Live Accounts: */
h1{
  text-align: center;
  margin: 2rem 0rem;
}

/* Account Name */
h3{
  font-size: 2.5rem;
  color: rgb(218, 172, 255);
  text-align: center;
  padding: 2rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  
}

/* Account User & Password */
h5{
  margin: 0rem;
  color: azure;
  display: flex;
  margin: 1rem 0rem 0rem 0rem;
  justify-content: center;
}

/* User Input */
.user-input{
  letter-spacing: .2rem;
  margin-left: 1rem;
}

/* Password Input */
.password-input{
  letter-spacing: .2rem;
  margin-left: 1rem;
  justify-content: center;
}

/* Account Container */
.account-item{
  background-image: linear-gradient(to bottom , blueviolet,rgb(153, 72, 228), rgb(197, 161, 230));
  width: 65%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 1rem 1rem 0rem 0rem;
  box-shadow: 0px 0px 5px 3px rgb(193, 193, 193) ;
}

/* Button Container */
.btn-container{
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 45px;
}
.btn-delete{
  border: none;
  padding: .5rem;
  text-decoration: none;
  border-radius: .2rem;
  background-color: rgb(221, 50, 38);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1.5rem;
}
.btn-delete:hover{
  transition: ease .36s;
  color: aliceblue;
  background-color: #e4544a;
}
.btn-update{
  border: none;
  padding: .5rem;
  text-decoration: none;
  border-radius: .2rem;
  background-color: rgb(45, 228, 164);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.btn-update:hover{
  transition: ease .36s;
  color: aliceblue;
  background-color: rgb(84, 242, 186);
}

/* Search Filter */
.search-filter{
  margin-bottom: 2rem;
}
h8{
  color: #00649e;
}
.red-text{
  color: red;
  font-size: 16px;
  margin-left: 1rem;
}
.sign-up-btn{
  background-color:  #28b463 ;
  color: white;
  border: none;
  border-radius: 10px;
  width: 92%;
  padding: 1rem 0rem;
  font-size: 16px;
}
.sign-up-btn:hover{
  cursor: pointer;
  background-color: #009e42;
  transition: ease .3s;
}
.logout-btn{
  border: solid 2px red;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 16px;
  color: red;
  background-color:white;
  cursor: pointer;
  width: 200px;
  margin-left: 12rem;
  transition: ease-in-out .3s;
}
.logout-btn:hover{
  background-color: red;
  color: white;
}
.nav-add-btn{
  text-decoration: none;
  border: solid 2px green;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 16px;
  width: 132px;
  color: green;
  background-color:white;
  cursor: pointer;
  margin-right: 12rem;
  transition: ease-in-out .3s;
}
.nav-add-btn:hover{
  background-color: green;
  color: white;
}
.fixed-div{
  text-align: center;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0px;
  padding: 2rem 0rem;
}
.search-filter{
  width: 30rem;
  margin: auto;
  height: 2rem;
  font-size: 16px;
}
.checklist{
  margin-bottom: 10rem;
}
.add-form{
  width: 80%;
  margin: auto;

}