.main-container{
  width: 90%;
  margin: auto;
  background-color: coral;
  text-align: center;
}

h4{
  font-size: 2rem;
}
h3{
  margin: 2rem 0rem;
  text-align: center;
}
.account-item{
  background-color: rgb(141, 215, 255);
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
  padding: 2.5rem 0rem;
}
.btn-delete{
  border: none;
  padding: .5rem;
  text-decoration: nones;
  border-radius: .2rem;
  background-color: rgb(221, 50, 38);
  margin-top: 2rem;
}
.account-name{
  font-size: 2rem;
}
.pass{
  margin-bottom: 2rem;
}
.brand-img{
  background-image: url(./images/cheese.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
